<!doctype html>
<html lang="fr">
    <head>
        <meta charset="utf-8">
        <title>Titre</title>
    </head>
    <body>
        
        {{ form(form) }}
        <h1>Page crop!</h1>
        <img src="{{ 'uploads/documents/user3.jpg'|imagine_filter('very_big')}}" />
    </body>
</html>