{# 
    NoobSiteBundle:Global:footer.html.twig
    
    Pied de page principal du site.
    Inclu par le template de base.
    
    Changelog:
    03/04/2015 19h00: création du fichier
#}

<footer class="main-footer">
    <div class="top-part"></div>
    <div class="middle-part">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <p>Pied de page top</p>
                    
                </div>
            </div>
        </div>
    </div>
    <div class="bottom-part">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <p>Pied de page bottom</p>
                    
                </div>
            </div>
        </div>
    </div>
</footer>